* {
  box-sizing: border-box;
  font-weight: normal;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 20px 40px;
}
nav,
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  width: 50%;
  justify-content: center;
}
.nav-item {
  font-size: large;
  margin: 0 1.5em;
}
.nav-items .nav-item:first-child {
  color: #fe5e35;
  font-family: "Fredoka One";
}
nav img:first-child {
  width: 9%;
}
.hamburger-menu{
  display: none;
}

/* -------------------------- section -------------------------- */

section{
  display: flex;
  padding: 20px 0;
}

/* ----------------- left section ---------------- */

.left-section{
 width: 75%;
}
.left-section div:first-child{
  font-size: 1.8rem;
  font-weight: 600;
}
.left-section div:first-child img{
  width: 2.2em;
}

.heading{
  font-size: 3.5rem;
  font-family: "Fredoka one";
}

.list{
  list-style: none;
}
.list li{
  font-size: 1.3rem;
  margin: 1em 0;
}
.plus-img{
width: 1.2em;
 background: #FE5E35;
 border-radius: 50%;
 vertical-align: middle;
 padding: 4px;
 margin-right: 12px;
}

.text{
  padding: 15px 10px;
}

/* ------------------ right-section --------------------- */

.right-section div:first-child{
  padding:0 20px;
}

.headphone-img{
  width: 100%;
  display: block;
}

.right-section:first-child{
  position: relative;
}

.discount-tag,.discount,.discount-percent{
  position: absolute;
  top: 56%;
  font-family: "Fredoka one";
  right:31%;
  color: #fff;
}
.discount-tag img{
  width:80%;
}
.discount{
 font-size: small;
 right: 45%;
 top: 15%;
}
.discount-percent{
  font-size: 3rem;
  top: 8%;
}

.dots{
  display: flex;
  justify-content: center;
}

.dots span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 1em;
}

.dot-yellow{
  background-color: #FBD104;
}
.dot-orange{
  background-color: #FE5E35;
}
.dot-black{
  background-color: #000;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.buttons button{
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #FE5E35;
  font-weight: 700;
  padding: 10px 20px;
}
.buttons div:first-child button{
  margin: 0 10px;
}
.buttons > button{
  margin-right: 14em;
}